default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg

repos:
  - repo: https://github.com/FeryET/pre-commit-rust
    rev: v1.2.1
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
      - id: test
        stages: [pre-push]

  - repo: local
    hooks:
      - id: commitlint
        name: commitlint
        entry: npx --yes @commitlint/cli --config commitlint.config.mjs --edit
        language: system
        stages: [commit-msg]
